/* ELIMINAZIONE COMPONENTI NON NECESSARIE */

div#footer, div#header, div#columnleft {
	display:none;
}

a.linktop {
	display: none;
}

/* STILIZZAZIONE GENERALE */

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #4682B4;
}

hr {
	margin: 30px 0px 30px;
	width: 960px;
	margin-left: 20px;
}

p {
	font-size: 11pt;
	line-height: 150%;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	font-size: 11pt;
	line-height: 150%;
	color:#4682B4;
}

a:visited {
	font-size: 11pt;
	line-height: 150%;
	color:#4682B4;
}

/* STILIZZAZIONE COLONNA DESTRA */ 

div#columnright {
	width:auto;
	padding-left:10px;
	padding-right: 10px;
	text-align: justify;
	min-height: 496px;
}

p.sectionTitle {
	text-align: center;
	color:#4682B4;
	padding-top: 5px;
	padding-bottom: 5px;
}

p.sectionSubTitle {
	color:#1C39BB;
}

div#columnright ol li {
	font-size: 11pt;
	line-height: 150%;
	margin-left: 40px;
}

div#columnright ul li {
	font-size: 11pt;
	line-height: 150%;
	margin-left: 40px;
}

div#columnright table {
	font-size: 11pt;
	line-height: 150%;
}

div#columnright table td {
	text-align: center;
	padding: 5px;
}

/* STILIZZAZIONE PAGINA SIMULAZIONE EURISTICA USABILITA */

div#columnright table#summaryHeuristic td {
	padding:1px;
	font-size: 9pt;
}

div#columnright div.heuristic {
	padding-left:40px;
}

div#columnright div.heuristic div.question {
	padding-left:20px;
}

div#columnright div.heuristic div.question p {
	padding-left:30px;
}

div#columnright div.heuristic div.question p:first-child {
	padding-left:5px;
}

div#columnright table#questions td {
	text-align: left;
}

div#columnright div.img img {
	padding-left:30px;
	width:500px;
}

/* STILIZZAZIONE PAGINA USER TESTING */

div#columnright table#userProfiles {
	font-size: 10pt;
}

div#columnright div.userTest div.testData p:first-child {
	padding-left: 20px;
}

div#columnright div.userTest div.testData p {
	padding-left: 40px;
}

div#columnright div.userTest div.testData ul {
	padding-left: 40px;
}

/* STILIZZAZIONE PAGINA VERIFICA CONFORMITA WCAG 2.0 */

div#columnright div.principle p:first-child {
	padding-left: 20px;
}

div#columnright div.principle p {
	padding-left: 40px;
}

div#columnright span.notvalid {
	font-size:13pt;
	color:red;
	text-decoration: underline;
}

div#columnright div.principleDetailed div.guideline p:first-child {
	padding-left: 20px;
}


div#columnright div.principleDetailed div.guideline p{
	padding-left: 40px;
}

div#columnright div.principleDetailed div.guideline div.criteria p:first-child {
	padding-left: 60px;
}


div#columnright div.principleDetailed div.guideline div.criteria p{
	padding-left: 80px;
}

div#columnright div.principleDetailed div.guideline div.criteria ul{
	padding-left: 80px;
}

div#columnright div.principleDetailed div.guideline div.criteria div.img{
	padding-left: 50px;
}

div#columnright div.principleDetailed div.guideline div.criteria ul li.listImage{
	list-style-type: none;
	margin-left: 0;
}

div#columnright div.principleDetailed div.guideline div.criteria ul div.img{
	padding-left:10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* STILIZZAZIONE MAPPA SITO */

div#columnright div#sitemap p{
	padding-left:20px;
}

div#columnright div#sitemap p:first-child {
	padding-left:0;
}

div#columnright div#sitemap a{
	text-decoration: none;
}

/* STILIZZAZIONE PAGINA ACCESSIBILITA */

div#columnright div.requirement p {
	padding-left: 20px;
}

div#columnright div.requirement p.valid {
	background-color: #66FF00;
	padding-left: 0;
	margin-left: 20px;
}

div#columnright div.requirement p.notapplicable {
	background-color: #00ffff;
	padding-left: 0;
	margin-left: 20px;
}

div#columnright div.requirement p:first-child {
	padding-left: 0;
}

div#columnright div.requirement ul {
	padding-left: 30px;
}
